<html>
    <head>
        <title>About</title>
    </head>
    <body>
        <h1>About</h1>
        <br/>
        <h3>Purpose:</h3>
        <ul>The purpose of this website is to store and maintain data about the NFL, including players, teams, divisions,
        and championships. It also allows users to enter, edit, and delete information.</ul>
        <h3>Company Information:</h3>
        <ul>
            Developed solely by Ryan Graves for the National Football League because they wanted me to have their money.
        </ul>
        <h3>Contact Information:</h3>
        <ul>
            Name: Ryan Graves<br/>
            Phone: 911<br/>
            Email: police@pleasehelp.co.uk<br/>
        </ul>
        <a href="/images/ERDiagram.jpg">E/R Diagram</a>
        <br/>
        <a href="/images/RelationshipSchema.jpg">Relationship Schema</a>
        <br/>
        <a href="/images/FunctionalDependency.jpg">Functional Dependency Diagram</a>

    </body>

</html>